In [1]:
x = 3

def ejemplo():
    global x
    x = 5
    return x

print(x)
ejemplo()

3

5

In [2]:
def my_map(my_func, my_iter):
    result = []
    for item in my_iter:
            new_item = my_func(item)
            result.append(new_item)
    return (result)


nums = [3, 4, 5, 6, 7]

cubed = my_map(lambda x: x **3, nums)

print(cubed)

[27, 64, 125, 216, 343]

In [3]:
import pandas as pd

#Transform a Series into DataFrames
series = pd.Series([150, 30, 20], index=[0, 1, 2])
transformation = series.to_frame(name='New DataFrame name')
transformation

   New DataFrame name
0                 150
1                  30
2                  20

In [4]:
print('practicing Python')

practicing Python

In [5]:
nam = input ('who are you?')
print ('Welcome,', nam)

Welcome, Pablo

In [6]:
inp = input('Europe floor?')
usf = int(inp) + 1
print ('US floor', usf)

US floor 6

In [7]:
try:
    age = input('How old are you?')
    age = float(age)

    if age < 18: 
        print ('You are not allowed')
    if age >= 18 and age != 69:
        print ('Welcome')
    if age == 69:
        print('Secret page unlocked')
except ValueError:
    print ('Enter a valid age')

Welcome

In [8]:
for i in range(5):
    print(i)
    if i > 3:
        print('Bigger than 3')
    print('Done with', i)
print ('All done')

0
Done with 0
1
Done with 1
2
Done with 2
3
Done with 3
4
Bigger than 3
Done with 4
All done

In [9]:
x = input()
x = float (x)
if x < 2:
    print ('small')
elif x < 10:
    print ('medium')
else:
    print ('large')
print ('done')

large
done

In [10]:
x = 5
if x < 10:
    x = 15
if x > 14:
    print('gei')
else: print ('ola')

gei

In [11]:
rawstr = input('Enter a number:')
try:
    ival = int(rawstr)
except:
    ival = -1
if ival > 0:
    print ('Nice work')
else: 
    print ('Not a number')

Nice work

In [12]:
x = 6
if x == 6 :
    print('Is 6')
    print('Is Still 6')
    print('Third 6')

Is 6
Is Still 6
Third 6

In [13]:
try:
    hrs = input("Enter Hours:")
    hrs = float(hrs)
    rate = input("Enter rate:")
    rate = float(rate)
    if hrs <= 40:
        print(hrs*rate)
    elif hrs > 40:
        overtime_pay = (rate*1.5) * (hrs-40)
        normal_pay = 40 * rate
        total_pay = overtime_pay + normal_pay
        print (total_pay)
except:
    print('Write a valid number')

75.0

In [14]:
try:    
    score = input("Enter Score: ")
    score = float(score)

    if 0.9 <= score <=1:
        print ('A')
    elif 0.8 <= score < 0.9:
        print ('B')
    elif 0.7 <= score < 0.8:
        print ('C')
    elif 0.6 <= score < 0.7:
        print('D')
    elif 0 <= 0.6 < 0.6:
        print ('F')
    else:
        print ('Number out of range. Select a number between 0 and 1')
except:
    print('Invalid character. Please enter a number')

Number out of range. Select a number between 0 and 1

In [15]:
def thing():
    print ('Hello')
    print ('fun')
thing()
print('zip')
thing()

Hello
fun
zip
Hello
fun

In [16]:
def greet (lang): # lang is the parameter, like an alias to the upcoming use of the funciton
    if lang == 'es':
        return 'hola'
    elif lang == 'fr':
        return 'bonjour'
    elif lang == 'en':
        return 'hello'
    else: 
        print('Lang not supported')
greet(input())

'hola'

In [17]:
def add2 (a,b):
    added = a+b
    return added
print(add2(input(), input()))

57

In [18]:
def addtwo(a, b):
    added = a + b
    return added

x = addtwo(2, 7)
print(x)

9

In [19]:
def computepay(h, r):
        if h > 40:
            overtime_pay = (r*1.5) * (h-40)
            normal_pay = 40 * r
            return  overtime_pay + normal_pay
        else:
            return h*r
try:
    hours = float(input('Enter hours:'))
    rate = float(input('Enter rate'))

    pay = computepay(hours, rate)
    print('Pay', pay)
except:
    print('Enter a valid number')

Pay 120.0

In [20]:
n = 0
while n < 9999999:
    n = n+1
print (f'Done: {n}')

Done: 9999999

In [21]:
n = 5
while n > 0:
    print ('Infininte?')
    break
print('Done')

Infininte?
Done

In [22]:
while True:
    line = input ('>')
    if line [0] == '#':
        continue
    if line == 'done':
        break
    print(line)
print('Done!')

hola
como
estás
estás
Done!

In [23]:
for i in [5, 4, 3, 2, 1]:
    print (i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [24]:
friends = ['Kr baby', 'Lago', 'Gugol', 'Sancho', 'Guillermo']
for friend in friends:
    print ('Happy New Year,', friend)
print('Done')

Happy New Year, Kr baby
Happy New Year, Lago
Happy New Year, Gugol
Happy New Year, Sancho
Happy New Year, Guillermo
Done

In [25]:
a = 2
b = 3
c = 4
abc = [a, b, c]  # List of numbers
summing = sum(abc)  # Initial sum of the list

while summing < 100:
    abc = [x + 1 for x in abc]  
    summing = sum(abc)

print(f'Sum result: {summing}. End set: {abc}')

Sum result: 102. End set: [33, 34, 35]

In [26]:
# Counting in a loop
count = 0 
print ('Before', count)
for thing in [9, 41, 12, 3, 74, 15]:
    count = count + 1
    print (count, thing)
print('After', count)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [27]:
# Summing in a loop
the_sum = 0
print ('Before', the_sum)
for thing in [9, 41, 12, 3, 74, 15]:
    the_sum = the_sum + thing
    print (the_sum, thing)
print ('After', the_sum)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

In [28]:
# Find the average in a loop
the_count = 0
the_sum = 0
print ('Before', the_count, the_sum)
for value in [9, 41, 12, 3, 74, 15]:
    the_count = the_count + 1
    the_sum = the_sum + value
    print (the_count, the_sum, value)
print ('After', the_count, the_sum, the_sum/the_count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [29]:
# Filtering in a loop
for value in [9, 41, 12, 3, 74, 15]:
    if value > 20:
        print(value, 'remain')
    else: # If no else, then output will just stay with the values that fulfil the condition
        print (value, 'out')

9 out
41 remain
12 out
3 out
74 remain
15 out

In [30]:
# Search using a boolean variable
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15]:
    if value == 3:
        found = True
        break
    print (found, value)
print('After', found)

Before False
False 9
False 41
False 12
After True

In [31]:
# Finding the smallest value
smallest = None # Flag value
print('Before', smallest)
for value in [9, 41, 12, 3, 74, 15]:
    if smallest is None: # 'is' is the same as == but more precise
        smallest = value
    elif value < smallest:
        smallest = value
    print (smallest, value)
print ('After', smallest)

Before None
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [32]:
num = 0
tot = 0
while True:
    sval = input('Enter a number: ')
    if sval == 'done':
        break
    try:
        fval = float(sval)
    except:
        print('Invalid input')
        continue
    print(fval)
    num = num + 1
    tot = tot + fval
print(f'Done. \nsum: {tot}, count: {num}, average: {tot/num}')

5.0
7.0
5.0
1.0
8.0
Done.
sum: 26.0, count: 5, average: 5.2

In [33]:
values = []
smallest = None
largest = None
while True:
    num = input('Enter a number:')
    if num == 'done':
        break
    try:
        num = int(num)
        values.append(num)
    except:
        print('Invalid input')
print('Maximum is', max(values))
print('Minimum is', min(values))

Maximum is 56
Minimum is 13